<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle7</string>
		<string>181.4.0.297378</string>
	</array>
	<key>CreationDate</key>
	<string>2017-08-19 17:30:22 +0000</string>
	<key>Creator</key>
	<string>René Schwaiger</string>
	<key>FileType</key>
	<string>package</string>
	<key>GraphDocumentVersion</key>
	<integer>14</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>1</integer>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-12-24 10:34:23 +0000</string>
	<key>Modifier</key>
	<string>René Schwaiger</string>
	<key>MovementHandleVisible</key>
	<string>NO</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>40</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>na-letter</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{611.99998474121094, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<integer>0</integer>
			<key>AutosizingMargin</key>
			<integer>0</integer>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {5120, 2879.9999399620719}}</string>
				<key>Class</key>
				<string>GraffleShapes.CanvasBackgroundGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>fill</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<real>0.83742713928222656</real>
							<key>g</key>
							<real>0.83743780851364136</real>
							<key>r</key>
							<real>0.83741801977157593</real>
							<key>space</key>
							<string>srgb</string>
						</dict>
						<key>FillType</key>
						<integer>3</integer>
						<key>GradientColor</key>
						<dict>
							<key>b</key>
							<string>0.570465</string>
							<key>g</key>
							<string>0.570472</string>
							<key>r</key>
							<string>0.570459</string>
							<key>space</key>
							<string>srgb</string>
						</dict>
						<key>MiddleFraction</key>
						<real>0.55149147727272729</real>
					</dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasDimensionsOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSize</key>
			<string>{5120, 2879.9999399620719}</string>
			<key>CanvasSizingMode</key>
			<integer>0</integer>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.0 pt = 1.0 px</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{1979.7047454107505, 572.98336604324629}, {1293.4422532182134, 1329.9721046435086}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>4</integer>
							<key>Scaling</key>
							<integer>1</integer>
							<key>Shape</key>
							<string>Bezier</string>
							<key>ShapeData</key>
							<dict>
								<key>UnitPoints</key>
								<array>
									<string>{0.24792027862077193, -0.2310204586809036}</string>
									<string>{0.44219874397774328, -0.026143489653949636}</string>
									<string>{0.44888832286437674, 0.2874633775096872}</string>
									<string>{0.26351374782735482, 0.49999999999999989}</string>
									<string>{0.28225059529128815, 0.48687049163455043}</string>
									<string>{0.30015607023714752, 0.47265380580690353}</string>
									<string>{0.31713263216619092, 0.45742738824973628}</string>
									<string>{0.47229497728749559, 0.31836407390877397}</string>
									<string>{0.53527505836835898, 0.10703926443034484}</string>
									<string>{0.48062691721222217, -0.091165088057227672}</string>
									<string>{0.42597877605608492, -0.2893694405448004}</string>
									<string>{0.26273316635290689, -0.4416995286891453}</string>
									<string>{0.056846512562440665, -0.48660914631719454}</string>
									<string>{-0.14904014122802511, -0.53151876394524389}</string>
									<string>{-0.36354451060647097, -0.46158647481911264}</string>
									<string>{-0.5, -0.30506715056096556}</string>
									<string>{-0.26724178294352474, -0.46762463268853427}</string>
									<string>{0.053619022138028605, -0.43585830431183153}</string>
								</array>
							</dict>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<real>0.035294100000000002</real>
										<key>g</key>
										<real>0.65882399999999997</real>
										<key>r</key>
										<real>0.87451000000000001</real>
										<key>space</key>
										<string>srgb</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{1992.26827385759, 1323.9063882802827}, {1463.7316728587466, 980.15266390426939}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5</integer>
							<key>Scaling</key>
							<integer>1</integer>
							<key>Shape</key>
							<string>Bezier</string>
							<key>ShapeData</key>
							<dict>
								<key>UnitPoints</key>
								<array>
									<string>{0.082042272565375107, 0.30454066920085654}</string>
									<string>{-0.16499611956851812, 0.38755590225752878}</string>
									<string>{-0.4147014928690318, 0.18241251403567649}</string>
									<string>{-0.5, -0.17363135531024798}</string>
									<string>{-0.4806146307476491, 0.11406452007150625}</string>
									<string>{-0.35200881757900682, 0.35936077408071898}</string>
									<string>{-0.16963722389221192, 0.45648597334471952}</string>
									<string>{0.012734369794582978, 0.55361117260872006}</string>
									<string>{0.21625555964707566, 0.48519499458756266}</string>
									<string>{0.35316826693161607, 0.28073840840287878}</string>
									<string>{0.49008097421615737, 0.076281822218194462}</string>
									<string>{0.53589909333531782, -0.22764920496231222}</string>
									<string>{0.47086590948214679, -0.5}</string>
									<string>{0.49590629146415699, -0.12366500164142802}</string>
									<string>{0.32910335926586232, 0.22147796281319043}</string>
									<string>{0.082042272565374219, 0.30454066920085698}</string>
									<string>{0.082042272565374219, 0.30454066920085698}</string>
									<string>{0.082042272565375107, 0.30454066920085654}</string>
								</array>
							</dict>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<real>0.18823500000000001</real>
										<key>g</key>
										<real>0.56470600000000004</real>
										<key>r</key>
										<real>0.25097999999999998</real>
										<key>space</key>
										<string>srgb</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{1655.9999467163416, 851.47525913029972}, {1035.5441795278214, 1455.5413147885261}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>6</integer>
							<key>Scaling</key>
							<integer>1</integer>
							<key>Shape</key>
							<string>Bezier</string>
							<key>ShapeData</key>
							<dict>
								<key>UnitPoints</key>
								<array>
									<string>{-0.30339737297126046, -0.10947019810264402}</string>
									<string>{-0.19681748680296796, -0.35257723641243766}</string>
									<string>{0.14783969085158954, -0.50097621275116444}</string>
									<string>{0.5, -0.45538885429744469}</string>
									<string>{0.25046462242256506, -0.53548722403284965}</string>
									<string>{-0.041602042511803106, -0.50615254621027539}</string>
									<string>{-0.25021827395310403, -0.38003821006022087}</string>
									<string>{-0.45883450539440518, -0.25392387391016624}</string>
									<string>{-0.54667485861817777, -0.053594152837481146}</string>
									<string>{-0.47584976871399487, 0.13453957511231596}</string>
									<string>{-0.40502467880981197, 0.32267330306211317}</string>
									<string>{-0.18820611267142651, 0.4649503058602551}</string>
									<string>{0.081082158063336074, 0.5}</string>
									<string>{-0.24500728481425682, 0.39506019341031329}</string>
									<string>{-0.40993975588411735, 0.13361213778557546}</string>
									<string>{-0.3033973729712609, -0.1094701981026438}</string>
									<string>{-0.3033973729712609, -0.1094701981026438}</string>
									<string>{-0.30339737297126046, -0.10947019810264402}</string>
								</array>
							</dict>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<real>0.56078399999999995</real>
										<key>g</key>
										<real>0.25490200000000002</real>
										<key>r</key>
										<real>0.18431400000000001</real>
										<key>space</key>
										<string>srgb</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>3</integer>
					<key>Scaling</key>
					<integer>1</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict>
				<key>GridSpacing</key>
				<real>8.9999998123814748</real>
				<key>ShowsGrid</key>
				<string>YES</string>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>9</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Artboards</key>
					<false/>
					<key>Lock</key>
					<false/>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<true/>
					<key>View</key>
					<true/>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoLineLength</key>
				<real>0.20000000298023224</real>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>4</integer>
			<key>VisibleVoidKey</key>
			<real>1</real>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Frame</key>
		<string>{{-0, -0}, {1375, 900}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>Sidebar_Tab</key>
		<integer>0</integer>
		<key>VisibleRegion</key>
		<string>{{-972, -1372}, {6856, 6040}}</string>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>0.125</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>compressOnDiskKey</key>
	<false/>
	<key>copyLinkedImagesKey</key>
	<false/>
	<key>createSinglePDFKey</key>
	<false/>
	<key>exportAreaKey</key>
	<integer>0</integer>
	<key>exportQualityKey</key>
	<real>100</real>
	<key>exportSizesKey</key>
	<array>
		<real>1</real>
		<string></string>
	</array>
	<key>fileFormatKey</key>
	<integer>0</integer>
	<key>htmlImageTypeKey</key>
	<integer>0</integer>
	<key>includeBackgroundGraphicKey</key>
	<true/>
	<key>includeNonPrintingLayersKey</key>
	<false/>
	<key>lastExportTypeKey</key>
	<integer>0</integer>
	<key>marginWidthKey</key>
	<real>0.0</real>
	<key>previewTypeKey</key>
	<integer>0</integer>
	<key>readOnlyKey</key>
	<false/>
	<key>resolutionForBMPKey</key>
	<real>1</real>
	<key>resolutionForGIFKey</key>
	<real>1</real>
	<key>resolutionForHTMLKey</key>
	<real>1</real>
	<key>resolutionForJPGKey</key>
	<real>1</real>
	<key>resolutionForPNGKey</key>
	<real>1</real>
	<key>resolutionForTIFFKey</key>
	<real>1</real>
	<key>resolutionUnitsKey</key>
	<integer>0</integer>
	<key>saveAsFlatFileOptionKey</key>
	<integer>2</integer>
	<key>useArtboardsKey</key>
	<false/>
	<key>useMarginKey</key>
	<false/>
	<key>useNotesKey</key>
	<false/>
</dict>
</plist>
